// Base


@import "base/typography.scss";
@import "base/variables.scss";
@import "base/normalize.scss";

 // Layout

@import "layout/header.scss";
@import "layout/hero.scss";
@import "layout/content.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";
@import "layout/box.scss";

// Core styles

html {


  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;
  overflow-x: hidden;
  box-sizing: border-box;

}

body {
  background-color: $grey;
  color: $light-black; //$black;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: $body;
  font-weight: 300;
  text-align: center;
  position: relative;
  line-height: 1.8;
}

ul {
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;


}
nav {
  margin: 0;
}
li {
  margin: 0;
  list-style: none;
  display: inline-block;

}
a {

  color: inherit;
}
.image {
  width: 95%;
  padding-bottom: 1rem;
}

// Breakpoints
@import "base/breakpoints.scss";
