.main {
  margin: 0 0.2rem 0 0.2rem;
  border-top: 1px solid rgba(128, 128, 128, 0.4);
  background-color: white;

}

.button {
  display: none;
}

.expand_button {
  display: none;
  background-color: $button-grey;
  border-radius: 2px;
  width: 100px;
  margin-left: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;


}

.box {

  position: relative;
  background-color: white;

}
.box_center {
  grid-column: 2/3;
}
.content {
  text-align: justify;
  padding: 0 1.3rem 1rem 1.3rem;


}

#D {
  ul {
    -webkit-padding-start: 40px;
    padding-bottom: 1rem;
  }
  li {

    list-style-type: disc;
    list-style-position: inside;
    list-style: disc;
    display: list-item;
    text-align: left;
    }
  }
