.main {
  margin: 0 0.2rem 0 0.2rem;
  border-top: 1px solid rgba(128, 128, 128, 0.4);
  background-color: white;

}

.button {
  display: none;
}

.expand_content {
  display: none;
}

.box {
  height: inherit;
  position: relative;


}
.content {
  text-align: justify;
  padding: 0 1.3rem 1rem 1.3rem;
  margin: 0;

}
#A {
  .box_right {
    grid-column: 3/4;
  }
}
#D {
  ul {
    -webkit-padding-start: 40px;
    padding-bottom: 1rem;
  }
  li {

    list-style-type: disc;
    list-style-position: inside;
    list-style: disc;
    display: list-item;
    text-align: left;
    }
  }
