#Footer {

  p {
    margin: 1rem 0 1rem 0;
    font-size: 0.9rem;
  }
  a {
    display: block;
    margin: 1rem;
    color: $blue;
  }
  i {
    display: block;
    color: $light-mustard;
    font-size: 1.5rem
  }
  .phone {
    margin-top: 2rem;
  }
  .copyright {
    font-size: 0.6rem;
    margin: 0;
    padding-bottom: 0.5rem;
  }
}
