#Header {
  height: 3rem;
  position: fixed;
  top: 0;
  width: 99.5%;
  background-color: $grey;
//  border-bottom: 1px solid $border;
  margin: 0 0.2rem 0 0.2rem;
  font-size: 1.4em;
  z-index: 1;
  opacity: 0.9;
  line-height: 1.5;

  nav {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: inherit;
  width: inherit;

  }

  ul {
  text-align: right;
  margin: inherit;

  a {
    text-decoration: none;

    &.hidden_li {
      display: none;
      /*:hover {
        color: $blue;
      }*/
      :active {
        color: $blue;
      }
    }
  }
  }
  i {

  color: white;
  text-shadow: 0px 1px 1px black;
  }
li {
  height: 100%;
  display: inline-block;
  padding: 0 0.3rem 0 0.3rem;
  &.nav_icon {
    background-color: $light-mustard;

  }

  }

}
