#Hero {
  background-image: url("../images/cab2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 50vh;
  border-top: none;
  position: relative;
  @include min-width(992px) {
    height: 100vh;
    margin-top: 0;
    }
  }
  .kicker {
  background-color: rgba(0,0,0, 0.1);
  text-shadow: 3px 3px 20px  rgba(0,0,0,0.6);
  display: inline-block;
   position: absolute;
   top: 42%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   width: fit-content;

   //text-shadow: 0px 1px 1px black;
   @include min-width(992px) {
    top: 50%;
    -ms-flex-item-align: flex-start;
    -ms-grid-row-align: center;
    align-self: center;
    //padding-top: 1rem;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    }
  }
