.expand_arrow {
  display: none;
  font-size: 3rem;
  text-align: left;
  margin-top: 1rem;
  width: 60px;
  background-color: white;

}
.opacity {
  &::before {

  opacity: 0.1;
  }
}
.arrow {
  display: none;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column-align: center;
      justify-self: center;
      height: 100px;
      width: 100px;
  border: 2px solid #e5e6e7;
  border-bottom: none;
  border-radius: 3rem 3rem 0 0;
  background-image: url("images/dark-arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &:hover {
    background-color: rgba(76,	76	,76, 0.5);
  }
    @include min-width(992px) {
  display: block;
}
}

.arrow_2 {
  border: 2px solid #A0A1A1;

}


.round_arrow {
  -ms-grid-row: 1;
  grid-row: 1;
  border-radius: 50px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: 2px solid #e5e6e7;
}
