.box {

  position: relative;
  background-color: white;
  transition: all 2s ease;

}

.box_center {
  grid-row: 1/-1;
  justify-self: center;
  grid-column: 1/-1;
  width: 50%;
}

.transform_x {
   transform: translateX(0%) !important;
}
.content {
  text-align: justify;
  padding: 0 1.3rem 1rem 1.3rem;
}

.content_right {

}
