.box {

  position: relative;
  background-color: white;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  @include min-width(992px){
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  width: 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1.8rem;//padding: 1.6rem 1.6rem 1.6rem 1.6rem;
  -webkit-box-shadow: 0px 6px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 2px rgba(0, 0, 0, 0.2);

  }
}

.box_center {
  grid-row: 1/-1;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-column: 1/-1;
  @include maxmin(720px, 768px){
    padding: 0;
    height: 550px;
  }
  @include min-width(992px) {
    width: 70%;
  }
}
.box_right {

  @include min-width(992px) {
  -ms-grid-column-align: right;
  justify-self: right;
  }
}

@include min-width(992px){

  .image {
    display: none;
  }
}

p {
  text-align: center;
  padding: 0 1.2rem 1.2rem 1.2rem;
  @include min-width(768px) {
    text-align: justify;
  }
  .content {
    @include min-width(992){
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      padding: 0 2.9rem 2rem 1.3rem;
    }
  }
}
