.button {
cursor: pointer;
width: 120px;
height: 40px;
border: none;
margin: 1rem 0;
border-radius: 3px;
background-color: $button-grey;
font-size: inherit;
font-weight: inherit;
font-family: inherit;
color: inherit;
padding: 0;
-webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
&:hover {
-webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
  }
}
