
  //small screens
  @media screen and (min-width: 768px) {

      html {
        font-size: 18px;
      }
      h2 {
        font-size: 1.2rem;
      }

      p.content {
        text-align: justify;
      }
  }

  // Medium screens
  @media screen and (min-width: 992px) {
    .grid {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[3];
          grid-template-columns: repeat(3, 1fr);
      -ms-grid-rows: 1fr 100px;
          grid-template-rows: 1fr 100px;
    }
    .image {
      display: none;
    }
    .box {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      grid-column: 1/4;
      width: 70%;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      padding: 1.6rem 1.6rem 1.6rem 1.6rem;
      -webkit-box-shadow: 0px 6px 2px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 6px 2px rgba(0, 0, 0, 0.2);
    }


    .main {
  height: calc(100vh);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  &.inactive.left > .box {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  &.inactive.right > .box {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
    }

    h2 {
      font-size: 1.6rem;
    }
    .content {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      padding: 0 2.9rem 2rem 1.3rem;
    }
    .content_right {
      -ms-grid-column: 2;
      grid-column: 2;
    }


    .expand_arrow {
      display: inline-block;
    }
    .arrow {
      display: block;
    }

    .up_arrow {
      display: block;
    }
    .box_right {

      -ms-grid-column-align: right;

          justify-self: right;

    }

    h3 {
      font-size: 2.5rem;
      text-align: left;
      display: block;
      border-bottom: none;
    }

    #Hero {
      height: calc(100vh);
      margin-top: 0;
      .kicker {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        padding-top: 8rem;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1/4;
      }
    }
    #Header {
      display: none;
        font-size: 1rem;
        background-color: white;
        width: 100%;
        margin: 0;


      ul a:nth-child(-n + 2) {
        display: none;
    }
    ul a:nth-child(n+3) {
      display: inline-block;
      padding: 0.2rem 0.5rem 0 0.5rem;


    }
    .nav_icon {
      padding: 0 0.3rem 0 0.3rem;
    }

  }
  #A {
    background-image: url("/images/bridge.jpg");
  }
  #B {
    background-image: url("/images/ocean.jpg");
  }
  #C {
    background-image: url("/images/phone.jpg");
  }
  #D {
    background-image: url("/images/boat.jpg");
    background-position: center;
    background-color: $grey;

  }
  #E {
    background-image: url("/images/skyscraper.jpg");
    background-position: center;

  }
  #Contact {
    background-color: $grey;
  }
  #Footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    justify-items: center;
    height: 30vh;
    text-align: left;
    p {
    -ms-grid-row: 2;
    grid-row: 2;
    padding: 0; }
     .copyright {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 2;
    grid-column: 2; }
     a {
       grid-column: 2;
       align-self: flex-start;
     }
      p {
    margin: 0; }
  }
i {
  grid-column: 2;
}
.footer_logo {
  grid-column: 2;
  grid-row: 3;

}
}


    @media screen and (min-width: 1400px) {

      p, span {
        font-size: 1.1rem;
      }
      li {
        font-size: 1.1rem;
      }
}
    @media screen and (max-height: 720px) and (min-width: 768px) {

      html {
       font-size: 16px;
      }

      .box_center {
        padding: 0;
        height: 520px;

      }

h3 {
  margin-top: 0;
}
      #message {
        min-height: 0;
        height: 60px;
      }
    }
