
//small screens
@media screen and (min-width: 768px) {

    html {
      font-size: 18px;
    }
}

// Medium screens
@media screen and (min-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;

  }
  .image {
    display: none;
  }
  .box {
    grid-row: 2/3;
    align-self: center;
    width: 75%;


  }
  .main {
height: calc(100vh - 3rem);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
  }
  .expand_button {
    display: block;
  }
  .box_right {
      grid-column: 2/4;
    justify-self: right;
  }
  .box_left {
    grid-column: 1/3;
    justify-self: left;
  }
  h3 {
    text-align: left;
    display: block;
    border-bottom: none;
  }
  #Hero {
    height: calc(100vh - 3rem);
  }
  #Header {
    font-size: 1.2rem;
    ul a:nth-child(-n + 2) {
      float: left;
      margin-right: 5px;
      font-size: 1.4rem;
  }
  ul a:nth-child(-n+6) {
    display: inline-block;
  }
  .nav_icon {
    padding: 0 0.3rem 0 0.3rem;
  }

}
#A {
  background-image: url("/images/ggate.jpg");
}
#B {
  background-image: url("/images/horizon.jpg");
}
#C {
  background-image: url("/images/phone.jpg");
}
#D {
  background-image: url("/images/tanker.jpg");
  background-position: left;
}
#Contact {
  background-color: purple;
}
}
