
@import "_variables.scss";
@import "mixins.scss";

// Fonts
$body: 'source sans pro', Helvetica, Arial sans-serif;

h1, h2, h3, h4 {
  margin: 1rem 0 1rem 0;
  padding: 0 1.3rem 0 1.3rem;
  color: $blue;

}

p {
  margin:  0;
  text-align: justify;
  @include min-width(1400px) {
    font-size: 1.1rem;
  }
  @include maxmin(720px, 992px){
    font-size: 14px;
  }
}
h2 {
  font-size: 0.7rem;
  @include min-width(768px) {
  font-size: 1.2rem;
  }
  @include min-width(992px) {
  font-size: 1.6rem;
  }
  color: white;
  margin-top: 0.5rem;
}
h3 {
  display: inline-block;
  border-bottom: 1px solid $grey;
  @include min-width(992px) {
  font-size: 2.5rem;
  text-align: left;
  display: block;
  border-bottom: none;
}
  @include maxmin(720px, 992px){
    margin-top: 1rem;
  }
}
