
@import "_variables.scss";
// Fonts

$body: 'source sans pro', Helvetica, Arial sans-serif;

h1, h2, h3, h4 {
  margin: 1rem 0 1rem 0;
  padding: 0 1.3rem 0 1.3rem;
  color: $blue;

}

p {
  margin:  0;
  text-align: justify;

}
h2 {
  font-size: 0.6em;
  color: white;
  margin-top: 0.5rem;
}
h3 {
  display: inline-block;
  border-bottom: 1px solid $grey;
}
