// Palette
$black: rgba(17,	17,	17, 0.7);
$dark-mustard: #BF9C20;
$light-mustard: #F2BE00;
$header-blue: #082DB2;
$grey: #DEDEDE;
$blue: #1A4A9B;
$border: rgba(128, 128, 128, 0.4);
$light-black: #39454b;
$button-grey: #F5F5F5;
